.cursor-pointer {
    cursor: pointer;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.gap-20 {
    gap: 20px;
}

.grid-center {
    display: grid;
    place-content: center;
}

.w-100 {
    width: 100%;
}